/* Шрифт */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
/* Для всього */
*{
    margin: 0;
    padding: 0;
    border: 0;
    }
    /* Для всіх посилань */
    a{
        color: black;
        text-decoration: none;
    }
    /* Для всього документу та тіла */
    html,body{
        background-color: #c2bba7;
        color: black;
        height: 100%;
        width: 100%;
        font-family: 'Noto Sans', sans-serif;
        overflow-x: hidden;
        }
        /* Для блоку з усім контентом */
        .container{
            width: 70%;
            margin: 0 auto;
            text-align: center;
            background-color: white;
        }
        /* Для хедера */
        header{
            display: block;
            background-color: white;
            position: fixed;
            top: 0;
            width: 100%;
        }
        /* Для контенту хедера */
        header .container{
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-align-content: center;
            -ms-flex-line-pack: center;
            align-content: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            height: 10%;
        }
        .logo img{
            width: 40%;
        }
        .menu ul{
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 600;
            line-height: 30px;
            list-style: none;
        }
        .menu li{
            display: inline-block;
            margin-right: 20px;
            position: relative;
        }
        
        .submenu {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 10;
            -webkit-transition: 0.5s ease-in-out;
            -moz-transition: 0.5s ease-in-out;
            -o-transition: 0.5s ease-in-out;
            transition: 0.5s ease-in-out;
            display: none;
            background: #ede5ce;
        }
        .submenu li{
            font-size: 14px;
            font-weight: 400;
            white-space:nowrap;
        }
        .menu li:hover {
            background-color: yellow;
        }
        .menu ul li:hover .submenu {
            display: block;
        }
        .theme{
            font-size: 14px;
            white-space: nowrap;
            font-weight: 600;
            border-radius: 4px;
            padding: 8px;
            cursor: crosshair;
        }
        #DarkTheme{
            background-color: red; 
        }
        #LightTheme{
            background-color: white;
            visibility: hidden;
        }
          main{
              margin-top: 10%;
          }
          label{
              font-size: 18px;
              font-weight: 400;
          }
          input{
              background-color: #a3b1c2;
          }
          #reg_form{
              display:none;
          }
          #reg {
              background-color: red;
              font-size: 18px;
              font-weight: 500;
          }
          .registrate{
              height: 100%;
              font-size: 30px;
            font-weight: 500;
          }
          #plus{
            float:left;
            cursor: default;
          }
          #tablemain{
              border-collapse: collapse;
              border: 4px solid red;
              margin: 0 auto;

          }
          #tablemain caption{
              font-weight: 600;
              font-size:20px;
          }
          #tablemain th,tr,td{
              border: 2px solid red;
              padding: 5px 5px;
          }
          #metel{
              margin-top: 5%;
          }
        footer{
            background-color: white;
            position: relative;
            margin-top: 1%;
        }
        .copyright{
            margin: 10% 0% 5% 60%;
        }
/* Адаптація до мобільних версій за шириною екрану */
        @media screen and ( max-width: 800px){
            .menu li{
                margin: 0 3% 0 3%;
            }
            .logo{
                display:none;
            }
        }
        @media screen and (max-width: 536px){
            footer .copyright{
                white-space: nowrap;
                margin: 0 auto;
            }
        }
        @media screen and (max-width: 480px){
            main .container{
                width: 100%;
            }
        }
        @media screen and (max-width: 375px){
            footer .copyright{
                white-space: normal;
                text-align: center;
                width:100%;
            }
            #DarkTheme, #LightTheme {
                font-size: 12px;
            }
        }